<div class="list" ng-controller="DrawerCtrl" style="padding-top:20px">
  <a class="item listChoice item item-icon-left" href="#" id="home">
  <i class="icon ion-home"></i>
  Home
  </a>
  <a class="item item-icon-left staticPage" href="#"  id="About">
  <i class="icon ion-ios7-information-outline"></i>
  About
  </a>
  <a class="item item-icon-left staticPage" href="#" id="Purchase">
  <i class="icon ion-ios7-cart"></i>
  List
  </a>
  <div class="item item-divider">
</div>
<div class="content-padded">
  <a>Copyright TheMove 2014</a><br />
  <a>Version 0.0.1</a>
</div>