<div ng-controller="DrawerCtrl" style="height:580px">
  <div id="vcard">
    <div id="card-content" class="background">
      <div id="profile">
        <span class="avatar">
        <span class="typicons-user icon"></span>
        <span class="info">
        Ross Hochwert
        <br />
        @baddestbitch
        </span>
        </span>
      </div>
      <div id="options">
        <ul>
          <li><span class="ion-earth icon"></span>DISCOVER</li>
          <li><span class="ion-person icon"></span>PROFILE</li>
        </ul>
      </div>
      <div id="options">
        <ul>
          <li><span class="ion-settings icon"></span>PREFERENCES</li>
          <li><span class="ion-share icon"></span>SHARE</li>
        </ul>
      </div>
      <div id="options">
        <ul>
          <li class="borderOveride"></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>